# =========================
# Database (PostgreSQL)
# =========================
DB_CLIENT=pg
# Local Configuration
DB_HOST=localhost
DB_PORT=15432
DB_USER=postgres
DB_NAME=online_auction_test
DB_PASSWORD=my_local_password
# Production Configuration (e.g. Supabase, Neon)
# DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
# DB_PORT=5432
# DB_USER=your_db_user
# DB_NAME=postgres
# DB_PASSWORD=your_db_password

# =========================
# Redis
# =========================
# Local: redis://localhost:16379
# Production: rediss://default:password@endpoint.upstash.io:6379
REDIS_URL=redis://localhost:16379

# =========================
# RabbitMQ
# =========================
# Local: amqp://localhost:5672
# Production: amqps://user:password@host/vhost
RABBITMQ_URL=amqp://localhost:5672

# =========================
# Gmail (SMTP)
# =========================
GMAIL_ADDRESS=your_gmail_address
GMAIL_APP_PASSWORD=your_gmail_app_password

# =========================
# Cloudinary
# =========================
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# =========================
# JWT
# =========================
JWT_SECRET=your_jwt_secret

# =========================
# CAPTCHA
# =========================
CAPTCHA_SECRET_KEY=your_captcha_secret_key

# =========================
# Client
# =========================
CLIENT_URL=your_client_url
